services:
  db:
    image: postgres:15
    container_name: peluqueria_db
    environment:
      POSTGRES_DB: peluqueria_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: ./peluqueria-api
    container_name: peluqueria_app
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=peluqueria_db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
    depends_on:
      - db

  client:
    build: ./peluqueria-client
    container_name: peluqueria_client
    ports:
      - "3000:80"
    depends_on:
      - app

volumes:
  postgres_data:
